$primary-text-color: #151515;
$secondary-text-color: #454545;
$text-color-3: #282c34;
$text-color-4: #111111;
$primary-background-color: white;
$secondary-background-color: #263a49;
$old-price-color: #959595;
$footer-label-color: #858585;

.header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &__background {
    width: 100%;
    height: 550px;
    background-image: url('https://via.placeholder.com/1920x550?text=junbotron-image');
    background-position: center center;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    margin-bottom: 0;
  }

  &__navbar {
    padding-right: 0;
    padding-left: 0;

    &__link {
      color: $primary-text-color;
      @media (min-width: 768px) {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 20px;
      }

      &--active {
        border-bottom: 2px solid $primary-text-color;
        border-radius: 2px;
      }

      &:hover {
        color: $primary-text-color;
      }
    }
  }

  &__carousel {
    background-color: $secondary-background-color;
    width: auto;
    height: 438px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.featuredProduct {
  position: relative;

  &__title {
    position: absolute;
    top: 284px;
    left: 20px;
    font-family: Jost, sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $text-color-3;
  }

  &__price {
    position: absolute;
    top: 306px;
    left: 20px;
    font-family: Jost, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $primary-text-color;
  }

  &__image {
    max-height: 338px;
  }
}

.tile {
  width: 309px;
  height: auto;
  margin-bottom: 30px;
  border: none;

  &__imgText {
    position: absolute;
    top: 20px;
    left: 35px;
    text-transform: uppercase;
    font-family: Jost, sans-serif;
    font-size: 10px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $text-color-4;
    border: 2px solid $primary-text-color;
    padding: 8px 14px;
  }

  &__body {
    padding-left: 0;
    padding-bottom: 0;
  }

  &__promotion {
    font-family: Jost, sans-serif;
    font-size: 10px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $text-color-4;
    margin-bottom: 10px;
    text-transform: uppercase;

    &--icon {
      margin-right: 7px;
    }
  }

  &__name {
    font-family: Jost, sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $secondary-text-color;
    margin-bottom: 9px;
  }

  &__price {
    font-family: Jost, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #151515;
    margin-bottom: 0;

    &--old {
      text-decoration: line-through;
      font-weight: 500;
      color: $old-price-color;
      margin-left: 7px;
    }
  }

  &__cart {
    font-family: Jost, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $primary-text-color;
    margin-bottom: 0;
    text-transform: uppercase;

    &--icon {
      padding-left: 17px;
    }
  }
}

.productsBtn {
  font-family: Jost, sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $primary-text-color;
  background-color: $primary-background-color;
  padding: 17px 33px;
  border: 2px solid;
}

@media (max-width: 768px) {
  .offer__body {
    max-width: 380px;
  }
}

.offer {
  padding: 0;
  margin: 0;

  &__body {
    position: relative;
    padding: 5px;
  }

  &__title {
    position: absolute;
    top: 40px;
    left: 40px;
    font-family: Jost, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $primary-text-color;

    &--twoLine {
      max-width: 150px;
    }
  }

  &__shop {
    position: absolute;
    top: 80px;
    left: 40px;
    font-family: Jost, sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $primary-text-color;

    &--border {
      top: 110px;
      border: 0;
      border-bottom: 2px solid $primary-text-color;
    }
  }
}

.border-bottom-solid {
  border: 0;
  border-bottom: 2px solid $primary-text-color;
  border-radius: 2px;
}

@font-face {
  font-family: Jost;
  src: local(Jost-Medium),
  url(../fonts/ttf/Jost-500-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.Text-Style-4 {
  font-family: Jost, sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $primary-text-color
}

.New-Arrivals {
  font-family: Jost, sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $primary-text-color;
}

.Our-newsletter {
  font-family: Jost, sans-serif;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $primary-text-color;
}

.Join-our-list {
  font-family: Jost, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $secondary-text-color
}

::placeholder {
  opacity: 0.5;
  font-family: Jost, sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(69, 69, 69, 0.5);

}

.Dont-spam {
  font-family: Jost, sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $secondary-text-color;
}

.subscribe {
  &__btn {
    font-family: Jost, sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $primary-text-color;
    background: none;
    height: calc(1.5em + .75rem + 6px);
    float: right;
  }

  &__email {
    overflow: hidden;
  }
}

.border-bottom-light {
  border-bottom: solid 1px #ececec;;
}

.footer {

  &__link {
    font-family: Jost, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $primary-text-color;

    &:hover {
      color: $primary-text-color;
    }
  }

  &__label {
    font-family: Jost, sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $footer-label-color;
    margin: 0;
  }

  &__button {
    font-family: Jost, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $primary-text-color;
  }
}

.rights {
  font-family: Jost, sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $primary-text-color;
  margin-bottom: 0;
}

.scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;

  &:hover {
    background-color: #555;
    color: white;
  }
}
