.tile {
  width: 309px;
  height: 504px
}

.header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &__background {
    width: auto;
    height: 550px;
    background-image: url('https://via.placeholder.com/1920x550?text=junbotron-image');
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
  }
}
