$carousel-color: #263a49;
$Text-Style-4-color: #151515;

.tile {
  width: 309px;
  height: 504px
}

.header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &__background {
    width: auto;
    height: 550px;
    background-image: url('https://via.placeholder.com/1920x550?text=junbotron-image');
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    margin-bottom: 0;
  }

  &__navbar {
    padding-right: 0;
    padding-left: 0;
    &--link{
      color: $Text-Style-4-color;
    }
  }
  &__carousel {
    background-color: $carousel-color;
    width: auto;
    height: 438px;
    margin-top: 0;
  }

}

.offer{
  &__item{
    padding:5px;
  }
}
@font-face {
  font-family: Jost;
  src: local(Jost-Medium),
  url(../fonts/ttf/Jost-500-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

.Text-Style-4 {
  font-family: Jost, sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $Text-Style-4-color
}
